/* pages/popup/src/Popup.css */

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 0;
  background: #2F273D; /* light purple to dark purple */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.App-logo {
  width: 100px; /* Set a fixed size for the logo */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically and horizontally */
  font-size: 0.75rem;
}

.header {
  font-size: 50px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #FFFFFF;
  margin-bottom: 20px; /* Adds space between the text and button */
}

.image-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.5s ease; /* Smooth hover effect */
}

.image-button:hover {
  transform: scale(1.15); /* Slightly scale up the image on hover */
}

.image-button img {
  width: 130px; /* Ensure the image inside the button has a fixed width */
  height: auto; /* Maintain aspect ratio */
}

.exit-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;

}
.exit-button:hover {
  transform: scale(1.15); /* Slightly scale up the image on hover */
  transition: transform 0.5s ease;
}

.play-button {
    position: relative;
    top: 15%;
    left: 1%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;

  }
  .play-button:hover {
    transform: scale(1.15);
    transition: transform 0.5s ease;
  }

  .skip-button {
    position: relative;
    top: 4%;
    left: 15%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;

  }
  .skip-button:hover {
    transform: scale(1.15);
    transition: transform 0.5s ease;
  }


  .App-active {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the content vertically and horizontally */
    font-size: 0.75rem;
  }