.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 0px;
  background: linear-gradient(0deg, #2F273D, #7F68A3); /* light purple to dark purple */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.App-logo {
  height: 50vmin;
  margin-bottom: 1rem;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
}

code {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}

/* Button styling */
.image-button {
  position: absolute; /* Positioning relative to the nearest positioned ancestor */
  top: center; /* Adjust the top margin */
  right: center; /* Adjust the right margin */
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.5s ease;
}


.image-button:hover {
  transform: scale(1.25); /* Slightly scale up the image on hover */
}

.header {
  position: absolute;
  top: 10%; /* 20% from the top of the window */
  font-size: 50px;
  font-family: 'Plus Jakarta Sans';
  color: #FFFFFF;
}
