/* pages/popup/src/Popup.css */

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  padding: 0;
  background: linear-gradient(0deg, #2F273D, #7F68A3); /* light purple to dark purple */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.App-logo {
  width: 100px; /* Set a fixed size for the logo */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the content vertically and horizontally */
  font-size: 0.75rem;
}

.header {
  font-size: 50px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #FFFFFF;
  margin-bottom: 20px; /* Adds space between the text and button */
}

.image-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.5s ease; /* Smooth hover effect */
}

.image-button:hover {
  transform: scale(1.25); /* Slightly scale up the image on hover */
}

.image-button img {
  width: 100px; /* Ensure the image inside the button has a fixed width */
  height: auto; /* Maintain aspect ratio */
}